<div class="card">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addCollapsed"
        aria-expanded="false" aria-controls="addCollapsed">
        <h5 class="card-title m-0">Add</h5>
    </button>
    <div class="collapse" id="addCollapsed">
        <form (ngSubmit)="submitForm()">
            <div class="card-body">
                <div class="form-group" *ngFor="let itemField of itemFields">
                    <label [htmlFor]="itemField.name">{{itemField.name}}</label>
                    <input type="text" class="form-control" [id]="itemField.name" [name]="itemField.name"
                        [(ngModel)]="itemField.value">
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary m-2" data-dismiss="modal" type="reset">Close</button>
                <button type="button" class="btn btn-primary m-2" type="submit">Save changes</button>
            </div>
        </form>
    </div>
</div>