<div>
    <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">New {{itemTitle}}</h3>
                <p class="mt-1 text-sm text-gray-600">After creation this will be visible to all customers immediately
                </p>
                <button type="button" class="border-2 rounded-md ring-indigo-600 ring-2 mt-5 text-indigo-600 px-2 py-1"
                    (click)="initForm()">
                    Reset form
                </button>
            </div>
        </div>
        <div class="mt-5 md:col-span-2 md:mt-0 flex flex-col">
            <form (ngSubmit)="submitForm()" class="self-stretch">
                <div class="flex flex-col mb-4" *ngFor="let itemField of itemFields">
                    <label [htmlFor]="itemField.name" class="text-sm text-gray-400">{{itemField.name}}</label>
                    <input type="text" class="ring-2 ring-gray-400 px-2 py-1 rounded-md m-2 mr-0" [id]="itemField.name"
                        [name]="itemField.name" [(ngModel)]="itemField.value">
                </div>
                <button type="button" class="rounded-md bg-indigo-600 text-white px-4 py-3 self-stretch mt-2"
                    type="submit">Save
                    changes</button>
            </form>
        </div>
    </div>
</div>