<nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
                <ul class="nav me-auto">
                        <li class="nav-item"><a routerLinkActive="active" routerLink="/customers"
                                        class="nav-link link-dark px-2 active" aria-current="page">Customers</a></li>
                        <li class="nav-item"><a routerLinkActive="active" routerLink="/products"
                                        class="nav-link link-dark px-2">Products</a></li>
                        <li class="nav-item"><a routerLinkActive="active" routerLink="/coupons"
                                        class="nav-link link-dark px-2">Coupons</a></li>
                        <li class="nav-item"><a routerLinkActive="active" routerLink="/shop"
                                        class="nav-link link-dark px-2">Shop</a></li>
                        <li class="nav-item"><a routerLinkActive="active" routerLink="/stats"
                                        class="nav-link link-dark px-2">Statistics</a></li>
                </ul>
                <app-user></app-user>
        </div>
</nav>