<div class="md:grid grid-cols-3 md:gap-8">
    <app-item-create class="md:col-span-1" [itemFunc]="emptyItem" (itemAdded)="itemAdded($event)"></app-item-create>
    <div class="md:col-span-2">
        <p *ngIf="items.length == 0" class="m-4">No items yet. Create one on the <span
                class="text-indigo-600">left</span></p>
        <div *ngIf="items.length > 0">
            <app-item-list-item *ngFor="let item of items" [item]="item" [title]="title" [body]="body"
                [footer]="footer"></app-item-list-item>
        </div>
    </div>
</div>