<nav class="py-2 bg-gray-800">
    <div class="w-full flex justify-between">
        <ul class="flex flex-wrap flex-row">
            <li class="m-2"><a routerLinkActive="active" routerLink="/home" class="text-white mx-2"
                    aria-current="page">Home</a>
            </li>
            <li class="m-2"><a routerLinkActive="active" routerLink="/products" class="text-white mx-2">Products</a>
            </li>
            <li class="m-2"><a routerLinkActive="active" routerLink="/orders" class="text-white mx-2">Orders</a></li>
        </ul>
        <app-user></app-user>
    </div>
</nav>