<ul class="nav">
        <li class="nav-item" *ngIf="!isLoggedIn()"><a routerLinkActive="active" routerLink="/login"
                        class="nav-link link-dark px-2">Login</a></li>
        <li class="nav-item" *ngIf="!isLoggedIn()"><a routerLinkActive="active" routerLink="/sign-up"
                        class="nav-link link-dark px-2">Sign
                        up</a></li>
        <li class="nav-item" *ngIf="isLoggedIn()"><a (click)="logout()" routerLink="/home"
                        class="btn btn-link nav-link link-dark px-2">Logout</a></li>
</ul>